@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full overflow-x-hidden bg-black;
}

html {
  @apply h-full;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
